Repository clemenscodes/nx-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: nx-cmake, create-nx-cmake, utils, config, graph, file

codecov.yml:

coverage:
    precision: 2
    round: down
    status:
        project:
            nx-cmake:
                target: 90%
                flags:
                    - nx-cmake
            create-nx-cmake:
                target: 90%
                flags:
                    - create-nx-cmake
            utils:
                target: 90%
                flags:
                    - utils
            config:
                target: 90%
                flags:
                    - config
            graph:
                target: 90%
                flags:
                    - graph
            file:
                target: 90%
                flags:
                    - file
        patch:
            default:
                enabled: no
                if_not_found: success
        changes:
            default:
                enabled: no
                if_not_found: success
flags:
    nx-cmake:
        paths:
            - plugins/nx-cmake/src
    create-nx-cmake:
        paths:
            - plugins/create-nx-cmake/src
    utils:
        paths:
            - packages/utils/src
    config:
        paths:
            - packages/config/src
    graph:
        paths:
            - packages/graph/src
    file:
        paths:
            - packages/file/src

refactor(utils): finished refactoring addTargetDefaults, can now be properly unittested
  packages/config/src/index.ts
  packages/config/src/lib/getTargets/getBuildTarget/getBuildTarget.ts
  packages/config/src/lib/getTargets/getCmakeTarget/getCmakeTarget.ts
  packages/config/src/lib/getTargets/getDebugTargets/getDebugTargets.ts
  packages/config/src/lib/getTargets/getExecuteTargets/getExecuteTargets.ts
  packages/config/src/lib/getTargets/getFmtTarget/getFmtTarget.ts
  packages/config/src/lib/getTargets/getLintTarget/getLintTarget.ts
  packages/config/src/lib/getTargets/getTargetDefaults/getTargetDefaults.ts
  packages/config/src/lib/getTargets/getTestTarget/getTestTarget.ts
  packages/config/src/lib/getTargets/index.ts
  packages/config/src/lib/nx-cmake.types.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/addTargetDefaults/addTargetDefault/addTargetDefault.ts
  packages/utils/src/lib/addTargetDefaults/addTargetDefaults.ts
  packages/utils/src/lib/addTargetDefaults/addTargetDependsOn/addTargetDependsOn.ts
  packages/utils/src/lib/addTargetDefaults/addTargetInputs/addTargetInputs.ts
  packages/utils/src/lib/addTargetDefaults/fillDependsOn/fillDependsOn.ts
  packages/utils/src/lib/addTargetDefaults/fillEmptyTargets/fillEmptyTargets.ts
  packages/utils/src/lib/addTargetDefaults/fillInputs/fillInputs.ts
  packages/utils/src/lib/assertIsTargetName/assertIsTargetName.ts
  packages/utils/src/lib/mergeArrays/mergeArrays.ts
Due: utils, config

fix(nx-cmake): updated schema definitions in all the schema.json files
  plugins/nx-cmake/src/executors/build/schema.json
  plugins/nx-cmake/src/executors/cmake/schema.json
  plugins/nx-cmake/src/executors/debug/schema.json
  plugins/nx-cmake/src/executors/execute/schema.json
  plugins/nx-cmake/src/executors/format/schema.json
  plugins/nx-cmake/src/executors/lint/schema.json
  plugins/nx-cmake/src/executors/test/schema.json
  plugins/nx-cmake/src/generators/binary/schema.json
  plugins/nx-cmake/src/generators/init/schema.json
  plugins/nx-cmake/src/generators/library/schema.json
  plugins/nx-cmake/src/generators/link/schema.json
  plugins/nx-cmake/src/generators/preset/schema.json
Due: nx-cmake

test(config): write some basic tests and update readme
  README.md
  packages/config/src/lib/nx-cmake/assertIsPluginConfig/assertIsPluginConfig.spec.ts
  packages/config/src/lib/nx-cmake/assertIsPluginConfig/assertIsPluginConfig.ts
  packages/config/src/lib/nx-cmake/checkNxVersion/checkNxVersion.ts
  packages/config/src/lib/nx-cmake/getPrograms/assertIsValidProgramName/assertIsValidProgramName.ts
  packages/config/src/lib/nx-cmake/getPrograms/getClangFormat/getClangFormat.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getClangTidy/getClangTidy.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getCtest/getCtest.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getGcc/getGcc.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getGdb/getGdb.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getMake/getMake.spec.ts
  plugins/nx-cmake/README.md
  plugins/nx-cmake/src/executors/cmake/schema.json
  plugins/nx-cmake/src/executors/debug/schema.json
  plugins/nx-cmake/src/executors/execute/schema.json
  plugins/nx-cmake/src/executors/lint/schema.json
  plugins/nx-cmake/src/executors/test/schema.json
Due: nx-cmake, config

test(config): coverage 100%
  packages/config/src/lib/nx-cmake/getPrograms/assertIsValidProgramName/assertIsValidProgramName.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/assertIsTargetName/assertIsTargetName.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/assertIsTargetName/assertIsTargetName.ts
  packages/config/src/lib/nx-cmake/getTargets/getBuildTargetDefault/getBuildTargetDefault.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getBuildTargetDefault/getBuildTargetDefault.ts
  packages/config/src/lib/nx-cmake/getTargets/getCmakeTargetDefault/getCmakeTargetDefault.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getCmakeTargetDefault/getCmakeTargetDefault.ts
  packages/config/src/lib/nx-cmake/getTargets/getDebugTargetDefault/getDebugTargetDefault.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getDebugTargetDefault/getDebugTargetDefault.ts
  packages/config/src/lib/nx-cmake/getTargets/getExecuteTargetDefault/getExecuteTargetDefault.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getExecuteTargetDefault/getExecuteTargetDefault.ts
  packages/config/src/lib/nx-cmake/getTargets/getFmtTargetDefault/getFmtTargetDefault.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getFmtTargetDefault/getFmtTargetDefault.ts
  packages/config/src/lib/nx-cmake/getTargets/getLintTargetDefault/getLintTargetDefault.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getLintTargetDefault/getLintTargetDefault.ts
  packages/config/src/lib/nx-cmake/getTargets/getTargetDefaults/getTargetDefaults.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getTargetDefaults/getTargetDefaults.ts
  packages/config/src/lib/nx-cmake/getTargets/getTestTargetDefault/getTestTargetDefault.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getTestTargetDefault/getTestTargetDefault.ts
  packages/config/src/lib/nx-cmake/getTargets/index.ts
  packages/config/src/lib/nx-cmake/getTargets/targetDefaults.ts
  packages/config/src/lib/nx-cmake/getTargets/targetName.ts
Due: config

test(file, graph): file 100% coverage, start graph coverage
  packages/file/src/lib/fileExists/fileExists.ts
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependencies/getGccDependencies.spec.ts
  packages/graph/src/lib/filterProjects/getTag/getTag.spec.ts
Due: graph, file

test(config): might bump config coverage to 100%
  packages/config/src/lib/nx-cmake/getPrograms/assertIsValidProgramName/assertIsValidProgramName.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/assertIsValidProgramName/assertIsValidProgramName.ts
  packages/config/src/lib/nx-cmake/getPrograms/index.ts
  packages/graph/src/lib/filterProjects/createFilteredProject/createFilteredProject.ts
  packages/graph/src/lib/filterProjects/filterProjects.ts
  packages/graph/src/lib/filterProjects/projectConfigContainsCTag/projectConfigContainsCTag.ts
Due: config, graph

chore(graph): refactor some util
  packages/graph/src/lib/filterProjects/projectConfigContainsCTag/projectConfigContainsCTag.ts
Due: graph

test(config): some test coverage hopefully
  packages/config/src/index.ts
Due: config

chore(config): codecov bug
  packages/config/src/lib/nx-cmake/getPrograms/assertIsValidProgramName/assertIsValidProgramName.ts
Due: config

fix(config): program assertion
  packages/config/src/lib/nx-cmake/getPrograms/assertIsValidProgramName/assertIsValidProgramName.ts
Due: config

refactor(config): executor and generator api
  .husky/pre-commit
  package.json
  packages/config/src/lib/nx-cmake/executor/executor.ts
  packages/config/src/lib/nx-cmake/executor/index.ts
  packages/config/src/lib/nx-cmake/generator/generator.ts
  packages/config/src/lib/nx-cmake/generator/index.ts
  packages/config/src/lib/nx-cmake/generator/init/getDefaultInitGeneratorOptions/getDefaultInitGeneratorOptions.spec.ts
  packages/config/src/lib/nx-cmake/generator/init/getDefaultInitGeneratorOptions/getDefaultInitGeneratorOptions.ts
  packages/config/src/lib/nx-cmake/generator/init/index.ts
  packages/utils/src/lib/readFile/readFile.ts
  packages/utils/src/lib/readFileWithTree/readFileWithTree.ts
  packages/utils/src/lib/updateRootCmakeFile/updateRootCmakeFile.spec.ts
  packages/utils/src/lib/updateRootCmakeFile/updateRootCmakeFile.ts
  packages/utils/src/lib/writeFileWithTree/writeFileWithTree.ts
Due: utils, config

feat(nx-cmake): projects added to root project via macro
  nx.json
  packages/config/src/lib/nx-cmake/generator/generator.ts
  packages/config/src/lib/nx-cmake/generator/init/getDefaultInitGeneratorOptions/getDefaultInitGeneratorOptions.spec.ts
  packages/config/src/lib/nx-cmake/generator/init/getDefaultInitGeneratorOptions/getDefaultInitGeneratorOptions.ts
  packages/utils/src/lib/binGenerator/binGenerator.ts
  packages/utils/src/lib/generateBinFiles/generateBinFiles.spec.ts
  packages/utils/src/lib/generateBinFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateClangPreset/generateClangPreset.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/modules.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/projects.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/add_projects.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/find_package_macro.cmake.template
  packages/utils/src/lib/generateGlobalIncludeDir/generateGlobalIncludeDir.spec.ts
  packages/utils/src/lib/generateRootConfig/generateRootConfig.spec.ts
  packages/utils/src/lib/generateRootConfig/generateRootConfig.ts
  packages/utils/src/lib/generateRootConfig/template/CMakeLists.txt.template
  packages/utils/src/lib/getUpdatedNxJson/getUpdatedNxJson.spec.ts
  packages/utils/src/lib/initGenerator/initGenerator.spec.ts
  packages/utils/src/lib/presetGenerator/presetGenerator.spec.ts
  packages/utils/src/lib/presetGenerator/presetGenerator.ts
  packages/utils/src/lib/writeConfig/writeConfig.spec.ts
  packages/utils/src/lib/writeConfig/writeConfig.ts
  packages/utils/src/lib/writeGeneratorConfig/writeGeneratorConfig.spec.ts
Due: utils, config

feat(nx-cmake): binary generator now adds projects to the projects module
  packages/utils/src/lib/addBinaryToProjects/addBinaryToProjects.spec.ts
  packages/utils/src/lib/addBinaryToProjects/addBinaryToProjects.ts
  packages/utils/src/lib/binGenerator/binGenerator.spec.ts
  packages/utils/src/lib/binGenerator/binGenerator.ts
  packages/utils/src/lib/getProjectTypeWithTree/getProjectTypeWithTree.spec.ts
  packages/utils/src/lib/resolveLinkOptions/resolveLinkOptions.spec.ts
  packages/utils/src/lib/updateFile/updateFile.spec.ts
  packages/utils/src/lib/updateFile/updateFileFile.ts
  plugins/nx-cmake/src/generators/init/schema.json
Due: nx-cmake, utils

refactor(nx-cmake): root cmake lists file is cleaner, config still imported by projects
  packages/config/src/lib/nx-cmake/assertIsPluginConfig/assertIsPluginConfig.spec.ts
  packages/config/src/lib/nx-cmake/assertIsPluginConfig/assertIsPluginConfig.ts
  packages/config/src/lib/nx-cmake/generator/generator.ts
  packages/config/src/lib/nx-cmake/settings.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/generateBinFiles/generateBinFiles.spec.ts
  packages/utils/src/lib/generateBinFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/__workspaceName__.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_library_settings.cmake.template
  packages/utils/src/lib/generateLibFiles/generateLibFiles.spec.ts
  packages/utils/src/lib/generateLibFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateRootConfig/generateRootConfig.spec.ts
  packages/utils/src/lib/generateRootConfig/template/CMakeLists.txt.template
  packages/utils/src/lib/getPluginConfig/getPluginConfig.spec.ts
  packages/utils/src/lib/getPluginConfig/getPluginConfig.ts
  packages/utils/src/lib/getUpdatedNxJson/getUpdatedNxJson.spec.ts
  packages/utils/src/lib/getWorkspaceIncludeDir/getWorkspaceIncludeDir.spec.ts
  packages/utils/src/lib/linkGenerator/linkGenerator.spec.ts
  packages/utils/src/lib/linkGenerator/linkGenerator.ts
  packages/utils/src/lib/readFileWithTree/readFileWithTree.spec.ts
  packages/utils/src/lib/resolveBinOptions/resolveBinOptions.spec.ts
  packages/utils/src/lib/resolveLibOptions/resolveLibOptions.spec.ts
  packages/utils/src/lib/resolveOptions/resolveOptions.spec.ts
  packages/utils/src/lib/resolveOptions/resolveOptions.ts
  packages/utils/src/lib/updateCmakeFile/updateCmakeFile.spec.ts
  packages/utils/src/lib/updateCmakeFile/updateCmakeFile.ts
  packages/utils/src/lib/writeConfig/writeConfig.spec.ts
  packages/utils/src/lib/writeConfig/writeConfig.ts
Due: utils, config

refactor(nx-cmake): cmake setup
  .gitignore
  .prettierignore
  nx.json
  packages/config/src/lib/nx-cmake/generator/generator.ts
  packages/config/src/lib/nx-cmake/generator/index.ts
  packages/config/src/lib/nx-cmake/generator/init/getDefaultInitGeneratorOptions/getDefaultInitGeneratorOptions.spec.ts
  packages/config/src/lib/nx-cmake/generator/init/getDefaultInitGeneratorOptions/getDefaultInitGeneratorOptions.ts
  packages/config/src/lib/nx-cmake/generator/init/index.ts
  packages/config/src/lib/nx-cmake/generator/init/resolveInitOptions/resolveInitOptions.ts
  packages/utils/src/lib/addBinaryToProjects/addBinaryToProjects.spec.ts
  packages/utils/src/lib/generateBinFiles/generateBinFiles.spec.ts
  packages/utils/src/lib/generateBinFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/__workspaceName__.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/projects.cmake.template
  packages/utils/src/lib/generateLibFiles/generateLibFiles.spec.ts
  packages/utils/src/lib/generateLibFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateLibTestFiles/generateLibTestFiles.spec.ts
  packages/utils/src/lib/generateLibTestFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateRootConfig/generateRootConfig.spec.ts
  packages/utils/src/lib/generateRootConfig/template/CMakeLists.txt.template
  packages/utils/src/lib/initGenerator/initGenerator.ts
  packages/utils/src/lib/linkGenerator/linkGenerator.spec.ts
  packages/utils/src/lib/readFileWithTree/readFileWithTree.spec.ts
Due: utils, config

fix(nx-cmake): config sets up minimum required version
  nx.json
  packages/utils/src/lib/binGenerator/binGenerator.spec.ts
  packages/utils/src/lib/generateBinFiles/generateBinFiles.spec.ts
  packages/utils/src/lib/generateBinFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/__workspaceName__.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_global_settings.cmake.template
  packages/utils/src/lib/generateLibFiles/generateLibFiles.spec.ts
  packages/utils/src/lib/generateLibFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateLibTestFiles/generateLibTestFiles.spec.ts
  packages/utils/src/lib/generateLibTestFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateRootConfig/generateRootConfig.spec.ts
  packages/utils/src/lib/generateRootConfig/template/CMakeLists.txt.template
  packages/utils/src/lib/linkGenerator/linkGenerator.spec.ts
  packages/utils/src/lib/readFileWithTree/readFileWithTree.spec.ts
Due: utils

fix(nx-cmake): add projects with correct sub dir path to projects
  packages/utils/src/lib/addBinProject/addBinProject.spec.ts
  packages/utils/src/lib/addBinProject/addBinProject.ts
  packages/utils/src/lib/addLibProjectConfig/addLibProjectConfig.spec.ts
  packages/utils/src/lib/addLibProjectConfig/addLibProjectConfig.ts
  packages/utils/src/lib/addProjectToProjects/addProjectToProjects.spec.ts
  packages/utils/src/lib/addProjectToProjects/addProjectToProjects.ts
  packages/utils/src/lib/addTestProjectConfig/addTestProjectConfig.spec.ts
  packages/utils/src/lib/addTestProjectConfig/addTestProjectConfig.ts
  packages/utils/src/lib/binGenerator/binGenerator.ts
  packages/utils/src/lib/libGenerator/libGenerator.spec.ts
  packages/utils/src/lib/linkGenerator/linkGenerator.spec.ts
  packages/utils/src/lib/readFileWithTree/readFileWithTree.spec.ts
  packages/utils/src/lib/updateIncludeFile/updateIncludeFile.spec.ts
  packages/utils/src/lib/writeFileWithTree/writeFileWithTree.spec.ts
Due: utils

fix(nx-cmake): add sub directories and projects properly
  packages/utils/src/lib/addProjectRootToSubDirectories/addProjectRootToSubDirectories.spec.ts
  packages/utils/src/lib/addProjectRootToSubDirectories/addProjectRootToSubDirectories.ts
  packages/utils/src/lib/addProjectToProjects/addProjectToProjects.ts
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/__workspaceName__.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/subdirectories.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/add_projects.cmake.template
Due: utils

refactor(nx-cmake): refactor cmake setup modules for modern cmake
  packages/utils/src/lib/addBinProject/addBinProject.ts
  packages/utils/src/lib/addLibProjectConfig/addLibProjectConfig.ts
  packages/utils/src/lib/addProjectRootToSubDirectories/addProjectRootToSubDirectories.ts
  packages/utils/src/lib/addProjectToProjects/addProjectToProjects.spec.ts
  packages/utils/src/lib/addProjectToProjects/addProjectToProjects.ts
  packages/utils/src/lib/addTestProjectConfig/addTestProjectConfig.ts
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/__workspaceName__.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/modules.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/projects.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_cmake_paths.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_global_settings.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_policies.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/subdirectories.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/add_subdirectories.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/find_package_macro.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/link_gtest.cmake.template
  packages/utils/src/lib/generateRootConfig/generateRootConfig.spec.ts
  packages/utils/src/lib/generateRootConfig/template/CMakeLists.txt.template
Due: utils

refactor(nx-cmake): remove some more cmake antipatterns
  packages/utils/src/lib/generateBinFiles/generateBinFiles.spec.ts
  packages/utils/src/lib/generateBinFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateBinFiles/template/src/__name__.__languageExtension__.template
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/__workspaceName__.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/modules.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_binary_settings.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_cmake_paths.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_library_settings.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/link_cmocka.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/link_gtest.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/link_static_library.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/make_var_readonly.cmake.template
  packages/utils/src/lib/generateLibFiles/generateLibFiles.spec.ts
  packages/utils/src/lib/generateLibFiles/template/src/__libName__.__languageExtension__.template
  packages/utils/src/lib/generateLibTestFiles/generateLibTestFiles.spec.ts
  packages/utils/src/lib/generateLibTestFiles/template/include/__testName__.h.template
  packages/utils/src/lib/generateLibTestFiles/template/src/__testName__.__languageExtension__.template
Due: utils

feat(nx-cmake): gcc -MM takes in lib include directories
  packages/file/src/index.ts
  packages/file/src/lib/getIncludeDirectories/getIncludeDirectories.spec.ts
  packages/file/src/lib/getIncludeDirectories/getIncludeDirectories.ts
  packages/graph/.eslintrc.json
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependenciesCommand/getGccDependenciesCommand.spec.ts
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependenciesCommand/getGccDependenciesCommand.ts
  packages/graph/src/lib/filterDependenciesOfProject/getIncludeDirectoriesFlag/getIncludeDirectoriesFlag.spec.ts
  packages/graph/src/lib/filterDependenciesOfProject/getIncludeDirectoriesFlag/getIncludeDirectoriesFlag.ts
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_global_settings.cmake.template
  packages/utils/src/lib/updateIncludeFile/updateIncludeFile.spec.ts
  packages/utils/src/lib/updateIncludeFile/updateIncludeFile.ts
Due: utils, graph, file

feat(nx-cmake): basic libraries install config
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/__workspaceName__.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_binary_settings.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_library_settings.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_project_settings.cmake.template
  packages/utils/src/lib/generateLibFiles/generateLibFiles.spec.ts
  packages/utils/src/lib/generateLibFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/linkGenerator/linkGenerator.spec.ts
  packages/utils/src/lib/readFileWithTree/readFileWithTree.spec.ts
Due: utils

fix(nx-cmake): set global settings cmake file
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_global_settings.cmake.template
Due: utils

refactor(nx-cmake): remove .yml from format and lint config files
  packages/config/src/lib/nx-cmake/executor/executor.ts
  packages/config/src/lib/nx-cmake/getPrograms/getClangFormat/getClangFormat.ts
  packages/config/src/lib/nx-cmake/getPrograms/getClangTidy/getClangTidy.ts
  packages/file/src/lib/getConfigFile/getConfigFile.spec.ts
  packages/file/src/lib/getConfigFile/getConfigFile.ts
  packages/utils/src/lib/formatExecutor/formatExecutor.ts
  packages/utils/src/lib/formatFilesWithClangFormat/formatFilesWithClangFormat.spec.ts
  packages/utils/src/lib/formatFilesWithClangFormat/formatFilesWithClangFormat.ts
  packages/utils/src/lib/generateClangPreset/generateClangPreset.spec.ts
  packages/utils/src/lib/generateClangPreset/template/.clang-format.template
  packages/utils/src/lib/generateClangPreset/template/.clang-tidy.template
  packages/utils/src/lib/getFormatArguments/getFormatArguments.spec.ts
  packages/utils/src/lib/getFormatArguments/getFormatArguments.ts
  packages/utils/src/lib/getFormatArguments/getStyleArgument/getStyleArgument.spec.ts
  packages/utils/src/lib/getFormatArguments/getStyleArgument/getStyleArgument.ts
  packages/utils/src/lib/getLintArguments/getClangTidyConfigArgument/getClangTidyConfigArgument.spec.ts
  packages/utils/src/lib/getLintArguments/getClangTidyConfigArgument/getClangTidyConfigArgument.ts
  packages/utils/src/lib/getLintArguments/getLintArguments.spec.ts
  packages/utils/src/lib/getLintArguments/getLintArguments.ts
  packages/utils/src/lib/lintExecutor/lintExecutor.ts
  packages/utils/src/lib/lintFilesWithClangTidy/lintFilesWithClangTidy.spec.ts
  packages/utils/src/lib/lintFilesWithClangTidy/lintFilesWithClangTidy.ts
Due: utils, config, file

feat(nx-cmake): link libraries using find_package
  packages/config/src/lib/nx-cmake/cProjectType.ts
  packages/config/src/lib/nx-cmake/generator/generator.ts
  packages/graph/src/lib/createNodesFunction/createNodesFunction.ts
  packages/utils/src/lib/generateBinFiles/generateBinFiles.spec.ts
  packages/utils/src/lib/generateBinFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateBinFiles/template/cmake/version.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/__workspaceName__.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/modules.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_library_install_destination.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_library_settings.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_package_version.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/add_subdirectories.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/link_library.cmake.template
  packages/utils/src/lib/generateLibFiles/generateLibFiles.spec.ts
  packages/utils/src/lib/generateLibFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateLibFiles/template/cmake/version.cmake.template
  packages/utils/src/lib/generateLibTestFiles/generateLibTestFiles.spec.ts
  packages/utils/src/lib/generateLibTestFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateRootConfig/generateRootConfig.spec.ts
  packages/utils/src/lib/generateRootConfig/template/CMakeLists.txt.template
  packages/utils/src/lib/getProjectTypeAndVariant/getLanguageVariant/getLanguageVariant.spec.ts
  packages/utils/src/lib/getProjectTypeAndVariant/getLanguageVariant/getLanguageVariant.ts
  packages/utils/src/lib/getProjectTypeAndVariant/getProjectTypeAndVariant.spec.ts
  packages/utils/src/lib/getProjectTypeAndVariant/getProjectTypeAndVariant.ts
  packages/utils/src/lib/getProjectTypeAndVariant/getProjectTypeFromConfigFileContent/getProjectFileFromConfigFileContent.spec.ts
  packages/utils/src/lib/getProjectTypeAndVariant/getProjectTypeFromConfigFileContent/getProjectFileFromConfigFileContent.ts
  packages/utils/src/lib/linkGenerator/linkGenerator.spec.ts
  packages/utils/src/lib/linkGenerator/linkGenerator.ts
  packages/utils/src/lib/readFileWithTree/readFileWithTree.spec.ts
Due: utils, config, graph

refactor(nx-cmake): wrap executor type and to make sure executors have correct type
  packages/config/src/lib/nx-cmake/executor/executor.ts
  packages/graph/src/lib/createNodesFunction/createNodesFunction.ts
  packages/utils/src/lib/buildExecutor/buildExecutor.ts
  packages/utils/src/lib/cmakeExecutor/cmakeExecutor.ts
  packages/utils/src/lib/debugExecutor/debugExecutor.ts
  packages/utils/src/lib/executeExecutor/executeExecutor.ts
  packages/utils/src/lib/formatExecutor/formatExecutor.ts
  packages/utils/src/lib/getProjectTypeAndVariant/getProjectTypeAndVariant.spec.ts
  packages/utils/src/lib/getProjectTypeAndVariant/getProjectTypeAndVariant.ts
  packages/utils/src/lib/lintExecutor/lintExecutor.ts
Due: utils, config, graph

fix(nx-cmake): root config should work in too (except test bins, still need work)
  packages/utils/src/lib/addLibraryToLibraries/addLibraryToLibraries.spec.ts
  packages/utils/src/lib/addLibraryToLibraries/addLibraryToLibraries.ts
  packages/utils/src/lib/addProjectRootToSubDirectories/addProjectRootToSubDirectories.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/libraries.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/modules.cmake.template
  packages/utils/src/lib/generateLibFiles/generateLibFiles.ts
  packages/utils/src/lib/generateRootConfig/generateRootConfig.spec.ts
  packages/utils/src/lib/generateRootConfig/template/CMakeLists.txt.template
Due: utils

fix(nx-cmake): test cmake config and root config, can now be parsed by cmake correctly
  nx.json
  packages/config/src/lib/nx-cmake/generator/generator.ts
  packages/config/src/lib/nx-cmake/generator/init/getCmakeC/getCmakeC.spec.ts
  packages/config/src/lib/nx-cmake/generator/init/getCmakeC/getCmakeC.ts
  packages/config/src/lib/nx-cmake/generator/init/getDefaultInitGeneratorOptions/getDefaultInitGeneratorOptions.spec.ts
  packages/config/src/lib/nx-cmake/generator/init/index.ts
  packages/config/src/lib/nx-cmake/generator/init/resolveInitOptions/resolveInitOptions.ts
  packages/graph/src/lib/filterDependenciesOfProject/filterDependenciesOfProject.spec.ts
  packages/graph/src/lib/getDependenciesOfFile/getDependenciesOfFile.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/generateLibTestFiles/generateLibTestFiles.spec.ts
  packages/utils/src/lib/generateLibTestFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateRootConfig/template/CMakeLists.txt.template
  packages/utils/src/lib/getCmakeC/getCMakeC.ts
  packages/utils/src/lib/resolveOptions/resolveOptions.ts
Due: utils, config, graph

fix(nx-cmake): tests support for gtest restored
  packages/config/src/lib/nx-cmake/assertIsPluginConfig/assertIsPluginConfig.spec.ts
  packages/config/src/lib/nx-cmake/assertIsPluginConfig/assertIsPluginConfig.ts
  packages/config/src/lib/nx-cmake/generator/generator.ts
  packages/config/src/lib/nx-cmake/generator/init/getDefaultInitGeneratorOptions/getDefaultInitGeneratorOptions.spec.ts
  packages/config/src/lib/nx-cmake/generator/init/getDefaultInitGeneratorOptions/getDefaultInitGeneratorOptions.ts
  packages/config/src/lib/nx-cmake/settings.ts
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependenciesCommand/getGccDependenciesCommand.spec.ts
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependenciesCommand/getGccDependenciesCommand.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_global_settings.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/settings/set_project_settings.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/install_cmocka.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/install_gtest.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/link_cmocka.cmake.template
  packages/utils/src/lib/generateCmakeConfigFiles/template/utils/link_gtest.cmake.template
  packages/utils/src/lib/generateGlobalIncludeDir/generateGlobalIncludeDir.spec.ts
  packages/utils/src/lib/generateGlobalIncludeDir/generateGlobalIncludeDir.ts
  packages/utils/src/lib/generateGlobalIncludeDir/template/common.h.template
  packages/utils/src/lib/generateGlobalIncludeDir/template/libcmocka.h.template
  packages/utils/src/lib/generateGlobalIncludeDir/template/libgtest.h.template
  packages/utils/src/lib/generateLibTestFiles/generateLibTestFiles.spec.ts
  packages/utils/src/lib/generateLibTestFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateLibTestFiles/template/include/__testName__.h.template
  packages/utils/src/lib/getPluginConfig/getPluginConfig.spec.ts
  packages/utils/src/lib/getPluginConfig/getPluginConfig.ts
  packages/utils/src/lib/getUpdatedNxJson/getUpdatedNxJson.spec.ts
  packages/utils/src/lib/getWorkspaceIncludeDir/getWorkspaceIncludeDir.spec.ts
  packages/utils/src/lib/getWorkspaceIncludeDir/getWorkspaceIncludeDir.ts
  packages/utils/src/lib/initGenerator/initGenerator.ts
  packages/utils/src/lib/writeConfig/writeConfig.spec.ts
  packages/utils/src/lib/writeConfig/writeConfig.ts
  plugins/nx-cmake/README.md
  plugins/nx-cmake/src/generators/init/schema.json
Due: nx-cmake, utils, config, graph

fix(nx-cmake): test executor on unix
  nx.json
  packages/utils/src/lib/getCtestArguments/getCtestArguments.ts
  packages/utils/src/lib/getTestDirArgument/getTestDirArgument.ts
  packages/utils/src/lib/runCommandFromDirectory/runCommandFromDirectory.ts
  packages/utils/src/lib/testBinaryWithCtest/testBinaryWithCtest.spec.ts
  packages/utils/src/lib/testBinaryWithCtest/testBinaryWithCtest.ts
Due: utils

test(graph): refactor type
  packages/graph/src/lib/filterFilesToProcess/filterFilesToProcess.spec.ts
Due: graph

chore(nx-plugins): update nx to v17, bump deps
  .gitignore
  .prettierignore
  e2e/e2e-create-nx-cmake/project.json
  e2e/e2e-nx-cmake/project.json
  nx.json
  package.json
  packages/config/package.json
  packages/config/project.json
  packages/file/project.json
  packages/graph/package.json
  packages/graph/project.json
  packages/graph/src/lib/createDependencies/createDependencies.spec.ts
  packages/graph/src/lib/createDependencies/createDependencies.ts
  packages/graph/src/lib/createNodesFunction/createNodesFunction.spec.ts
  packages/utils/package.json
  packages/utils/project.json
  plugins/create-nx-cmake/project.json
  plugins/nx-cmake/package.json
  plugins/nx-cmake/project.json
  pnpm-lock.yaml
Due: graph

fix(nx-cmake): rename build executor to compile because that way schema.json is copied
  e2e/e2e-nx-cmake/tests/nx-cmake.spec.ts
  packages/config/src/lib/nx-cmake/executor/executor.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/buildExecutor/buildExecutor.ts
  packages/utils/src/lib/compileExecutor/compileExecutor.ts
  packages/utils/src/lib/compileProjectWithCMake/compileProjectWithCMake.spec.ts
  packages/utils/src/lib/compileProjectWithCMake/compileProjectWithCMake.ts
  packages/utils/src/lib/getCmakeBuildCommandArguments/getCmakeBuildCommandArguments.spec.ts
  packages/utils/src/lib/getCmakeBuildCommandArguments/getCmakeBuildCommandArguments.ts
  plugins/nx-cmake/README.md
  plugins/nx-cmake/executors.json
  plugins/nx-cmake/src/executors/build/executor.ts
  plugins/nx-cmake/src/executors/compile/executor.ts
  plugins/nx-cmake/src/executors/compile/schema.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: nx-cmake, utils, config

fix(nx-cmake): adjust link generator to the new cmake config
  packages/utils/src/lib/linkGenerator/linkGenerator.spec.ts
  packages/utils/src/lib/linkGenerator/linkGenerator.ts
  packages/utils/src/lib/updateCmakeFile/updateCmakeFile.spec.ts
  packages/utils/src/lib/updateCmakeFile/updateCmakeFile.ts
Due: utils

chore(): commit broken state
  nx.json
  packages/config/src/lib/nx-cmake/getTargets/assertIsTargetName/assertIsTargetName.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/assertIsTargetName/assertIsTargetName.ts
  packages/config/src/lib/nx-cmake/getTargets/getBuildTargetDefault/getBuildTargetDefault.ts
  packages/config/src/lib/nx-cmake/getTargets/getCompileTargetDefault/getCompileTargetDefault.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getCompileTargetDefault/getCompileTargetDefault.ts
  packages/config/src/lib/nx-cmake/getTargets/getTargetDefaults/getTargetDefaults.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getTargetDefaults/getTargetDefaults.ts
  packages/config/src/lib/nx-cmake/getTargets/index.ts
  packages/config/src/lib/nx-cmake/getTargets/targetDefaults.ts
  packages/config/src/lib/nx-cmake/getTargets/targetName.ts
  packages/utils/src/lib/getProjectTargets/getProjectTargets.ts
  plugins/nx-cmake/executors.json
Due: utils, config

chore(): commit broken state
  e2e/e2e-nx-cmake/tests/nx-cmake.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/addBinProject/addBinProject.spec.ts
  packages/utils/src/lib/addTestProjectConfig/addTestProjectConfig.spec.ts
  packages/utils/src/lib/fmtExecutor/fmtExecutor.ts
  plugins/nx-cmake/executors.json
  plugins/nx-cmake/src/executors/fmt/executor.ts
  plugins/nx-cmake/src/executors/fmt/schema.json
  plugins/nx-cmake/src/executors/format/executor.ts
  pnpm-lock.yaml
Due: nx-cmake, utils

test(nx-cmake): rename build target to compile, updating tests
  packages/config/src/lib/nx-cmake/getTargets/getCompileTargetDefault/getCompileTargetDefault.spec.ts
  packages/config/src/lib/nx-cmake/getTargets/getCompileTargetDefault/getCompileTargetDefault.ts
  packages/config/src/lib/nx-cmake/getTargets/getTargetDefaults/getTargetDefaults.spec.ts
  packages/utils/src/lib/addBinProject/addBinProject.spec.ts
  packages/utils/src/lib/addCacheableTargets/addCacheableTargets.spec.ts
  packages/utils/src/lib/addCacheableTargets/addCacheableTargets.ts
  packages/utils/src/lib/addLibProjectConfig/addLibProjectConfig.spec.ts
  packages/utils/src/lib/addTargetDefaults/addTargetDefaults.spec.ts
  packages/utils/src/lib/getUpdatedNxJson/getUpdatedNxJson.spec.ts
Due: utils, config

test(nx-plugins): local ts lsp broken, test in ci
  nx.json
  packages/config/src/lib/nx-cmake/generator/generator.ts
  packages/utils/src/lib/binGenerator/binGenerator.ts
  packages/utils/src/lib/generateBinFiles/generateBinFiles.spec.ts
  packages/utils/src/lib/generateBinFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateLibFiles/template/CMakeLists.txt.template
  packages/utils/src/lib/generateLibFiles/template/cmake/__libName__Config.cmake.in
  packages/utils/src/lib/linkGenerator/linkGenerator.spec.ts
  packages/utils/src/lib/linkGenerator/linkGenerator.ts
  packages/utils/src/lib/resolveBinOptions/resolveBinOptions.spec.ts
  packages/utils/src/lib/resolveBinOptions/resolveBinOptions.ts
  packages/utils/src/lib/resolveLibOptions/resolveLibOptions.spec.ts
  packages/utils/src/lib/resolveLibOptions/resolveLibOptions.ts
  packages/utils/src/lib/resolveLinkOptions/resolveLinkOptions.spec.ts
  packages/utils/src/lib/resolveLinkOptions/resolveLinkOptions.ts
  packages/utils/src/lib/updateCmakeConfigInFile/updateCmakeConfigInFile.spec.ts
  packages/utils/src/lib/updateCmakeConfigInFile/updateCmakeConfigInFile.ts
  packages/utils/src/lib/updateCmakeFile/updateCmakeFile.spec.ts
  packages/utils/src/lib/updateIncludeFile/updateIncludeFile.spec.ts
  plugins/nx-cmake/README.md
  plugins/nx-cmake/src/generators/link/schema.json
Due: nx-cmake, utils, config

test(nx-plugins): ci
  nx.json
Due: none
