Repository clemenscodes/nx-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: nx-cmake, create-nx-cmake, command, file, log, mocks, util

fix(create-nx-cmake,nx-cmake): publish build files
  nx.json
Due: none

ci: download dist in publish step
  .github/workflows/ci.yml
  nx.json
Due: none

ci: do not skip verdaccio server in e2e
  .github/workflows/ci.yml
Due: none

ci(windows): workaround for windows not spawning verdaccio during script
  .github/workflows/ci.yml
Due: none

fix(nx-cmake,create-nx-cmake): npm package files
  .github/workflows/ci.yml
Due: none

ci: publish with build files
  .github/workflows/ci.yml
Due: none

ci: tar dist only if it exists
  .github/workflows/ci.yml
Due: none

ci: trigger build of packages
  .github/workflows/ci.yml
  plugins/create-nx-cmake/package.json
  plugins/nx-cmake/package.json
Due: nx-cmake, create-nx-cmake

fix(nx-cmake,create-nx-cmake): release
  .github/workflows/ci.yml
Due: none

ci: fix steps, make sure artifact will exist
  .github/workflows/ci.yml
Due: none

feat(create-nx-cmake,nx-cmake): support nx 18
  plugins/nx-cmake/src/index.ts
Due: nx-cmake

feat(create-nx-cmake): support nx 18
  plugins/create-nx-cmake/package.json
Due: create-nx-cmake

chore(): release version [skip ci]
  plugins/create-nx-cmake/CHANGELOG.md
  plugins/create-nx-cmake/package.json
  plugins/nx-cmake/CHANGELOG.md
  plugins/nx-cmake/package.json
Due: nx-cmake, create-nx-cmake

ci(repo): fix condition
  .github/workflows/ci.yml
Due: none

ci(repo): build all releasing packages in publish step
  .github/workflows/ci.yml
Due: none

chore(ci): reenable e2e tests
  .github/workflows/ci.yml
Due: none

fix(nx-cmake): use PROJECT_NAME in CMake files
  e2e/e2e-nx-cmake/tests/nx-cmake.spec.ts
  plugins/nx-cmake/src/generators/binary/generateBinFiles/generateBinFiles.spec.ts
  plugins/nx-cmake/src/generators/binary/generateBinFiles/template/CMakeLists.txt.template
  plugins/nx-cmake/src/generators/library/generateLibFiles/generateLibFiles.spec.ts
  plugins/nx-cmake/src/generators/library/generateLibFiles/template/CMakeLists.txt.template
  plugins/nx-cmake/src/generators/library/generateLibTestFiles/generateLibTestFiles.spec.ts
  plugins/nx-cmake/src/generators/library/generateLibTestFiles/template/CMakeLists.txt.template
  plugins/nx-cmake/src/generators/link/linkGenerator.spec.ts
  plugins/nx-cmake/src/generators/link/updateCmakeFile/updateCmakeFile.spec.ts
  plugins/nx-cmake/src/generators/link/updateCmakeFile/updateCmakeFile.ts
Due: nx-cmake

chore(): release version [skip ci]
  plugins/nx-cmake/CHANGELOG.md
  plugins/nx-cmake/package.json
Due: nx-cmake

ci: rerun publish config
  .github/workflows/ci.yml
Due: none

fix(create-nx-cmake): release new version
  .github/workflows/ci.yml
Due: none

fix(create-nx-cmake,nx-cmake): bump nx to 18.1.2
  package.json
  packages/command/package.json
  packages/file/package.json
  packages/log/package.json
  packages/mocks/package.json
  packages/types/package.json
  packages/util/package.json
  packages/verdaccio/package.json
  plugins/nx-cmake/package.json
  pnpm-lock.yaml
Due: nx-cmake, command, file, log, mocks, util

chore(nx-cmake): reenable ci
  .github/workflows/ci.yml
Due: none

chore(): release version [skip ci]
  plugins/nx-cmake/CHANGELOG.md
  plugins/nx-cmake/package.json
  pnpm-lock.yaml
Due: nx-cmake

chore(create-nx-cmake): default to main
  plugins/create-nx-cmake/bin/index.ts
Due: create-nx-cmake

chore(repo): set expected nx json, needs to be configured via plugin
  nx.json
Due: none

fix(nx-cmake): rename targets
  nx.json
  plugins/nx-cmake/src/config/checkNxVersion/checkNxVersion.spec.ts
  plugins/nx-cmake/src/config/getRequiredVersionOfNx/getRequiredVersionOfNx.spec.ts
  plugins/nx-cmake/src/config/getTargets/assertIsTargetName/assertIsTargetName.spec.ts
  plugins/nx-cmake/src/config/getTargets/getCmakeTargetDefault/getCmakeTargetDefault.spec.ts
  plugins/nx-cmake/src/config/getTargets/getCmakeTargetDefault/getCmakeTargetDefault.ts
  plugins/nx-cmake/src/config/getTargets/getCompileTargetDefault/getCompileTargetDefault.spec.ts
  plugins/nx-cmake/src/config/getTargets/getCompileTargetDefault/getCompileTargetDefault.ts
  plugins/nx-cmake/src/config/getTargets/getDebugTargetDefault/getDebugTargetDefault.spec.ts
  plugins/nx-cmake/src/config/getTargets/getDebugTargetDefault/getDebugTargetDefault.ts
  plugins/nx-cmake/src/config/getTargets/getExecuteTargetDefault/getExecuteTargetDefault.spec.ts
  plugins/nx-cmake/src/config/getTargets/getExecuteTargetDefault/getExecuteTargetDefault.ts
  plugins/nx-cmake/src/config/getTargets/getFmtTargetDefault/getFmtTargetDefault.spec.ts
  plugins/nx-cmake/src/config/getTargets/getFmtTargetDefault/getFmtTargetDefault.ts
  plugins/nx-cmake/src/config/getTargets/getLintTargetDefault/getLintTargetDefault.spec.ts
  plugins/nx-cmake/src/config/getTargets/getLintTargetDefault/getLintTargetDefault.ts
  plugins/nx-cmake/src/config/getTargets/getTargetDefaults/getTargetDefaults.spec.ts
  plugins/nx-cmake/src/config/getTargets/getTargetDefaults/getTargetDefaults.ts
  plugins/nx-cmake/src/config/getTargets/getTestTargetDefault/getTestTargetDefault.spec.ts
  plugins/nx-cmake/src/config/getTargets/getTestTargetDefault/getTestTargetDefault.ts
  plugins/nx-cmake/src/config/getTargets/targetDefaults.ts
  plugins/nx-cmake/src/config/version.ts
  plugins/nx-cmake/src/generators/binary/addBinProject/addBinProject.spec.ts
  plugins/nx-cmake/src/generators/init/addTargetDefaults/addTargetDefaults.spec.ts
  plugins/nx-cmake/src/generators/init/getUpdatedNxJson/getUpdatedNxJson.spec.ts
  plugins/nx-cmake/src/generators/library/addLibProjectConfig/addLibProjectConfig.spec.ts
  plugins/nx-cmake/src/generators/library/addTestProjectConfig/addTestProjectConfig.spec.ts
  plugins/nx-cmake/src/utils/getProjectTargets/getProjectTargets.spec.ts
  plugins/nx-cmake/src/utils/getProjectTargets/getProjectTargets.ts
Due: nx-cmake

ci: update nx cloud key
  .github/workflows/ci.yml
  commitlint.config.ts
  nx.json
  package.json
  plugins/create-nx-cmake/package.json
  pnpm-lock.yaml
Due: create-nx-cmake

Path conditions:
  nx-cmake: any of: plugins/nx-cmake/**
  create-nx-cmake: any of: plugins/create-nx-cmake/**
  command: any of: packages/command/**
  file: any of: packages/file/**
  log: any of: packages/log/**
  mocks: any of: packages/mocks/**
  util: any of: packages/util/**
