Repository clemenscodes/nx-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: nx-cmake, create-nx-cmake, utils, config, graph, file

test(nx-plugins): fix nx.json
  nx.json
Due: none

fix(nx-plugins): restore build target default
  nx.json
  packages/config/project.json
  packages/config/src/lib/nx-cmake/generator/generator.ts
  packages/file/project.json
  packages/graph/project.json
  packages/utils/project.json
  packages/utils/src/lib/resolveLibOptions/resolveLibOptions.ts
  packages/utils/src/lib/resolveOptions/resolveOptions.spec.ts
  packages/utils/src/lib/resolveOptions/resolveOptions.ts
  plugins/create-nx-cmake/project.json
  plugins/nx-cmake/project.json
Due: utils, config

test(utils): getGccDependenciesCommand spec should be fixed now
  packages/config/src/index.ts
  packages/config/src/lib/nx-cmake/getPrograms/getGcc/getGcc.spec.ts
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependenciesCommand/getGccDependenciesCommand.spec.ts
Due: config, graph

test(utils): mock getGcc call
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependenciesCommand/getGccDependenciesCommand.spec.ts
Due: graph

test(graph): should now actually have fixed this one test
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependenciesCommand/getGccDependenciesCommand.spec.ts
Due: graph

fix(utils): getProjectFromFile now uses unix path always
  packages/utils/src/lib/getProjectFromFile/getProjectFromFile.ts
Due: utils

refactor(e2e-nx-cmake): run e2e with nx daemon
  e2e/e2e-nx-cmake/tests/nx-cmake.spec.ts
  packages/config/src/lib/nx.ts
  packages/utils/src/lib/presetGenerator/presetGenerator.ts
Due: utils, config

refactor(utils,graph,config,file): update project name
  packages/config/project.json
  packages/file/project.json
  packages/graph/project.json
  packages/utils/project.json
Due: none

test(testing): create testing library to make testing easier
  packages/testing/.eslintrc.json
  packages/testing/jest.config.ts
  packages/testing/package.json
  packages/testing/project.json
  packages/testing/src/index.ts
  packages/testing/src/lib/mockFormatFiles/mockFormatFiles.spec.ts
  packages/testing/src/lib/mockFormatFiles/mockFormatFiles.ts
  packages/testing/src/lib/setupWorkspace/setupWorkspace.spec.ts
  packages/testing/src/lib/setupWorkspace/setupWorkspace.ts
  packages/testing/tsconfig.json
  packages/testing/tsconfig.lib.json
  packages/testing/tsconfig.spec.json
  tsconfig.base.json
Due: none

refactor(utils): extract actual utils in util lib
  nx.json
  packages/config/src/index.ts
  packages/config/src/lib/nx-cmake/getPrograms/getClangFormat/getClangFormat.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getClangTidy/getClangTidy.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getCmake/getCmake.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getCtest/getCtest.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getGcc/getGcc.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getGdb/getGdb.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getMake/getMake.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getProgram/getProgram.spec.ts
  packages/config/src/lib/nx-cmake/getPrograms/getProgram/getProgram.ts
  packages/graph/.eslintrc.json
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependenciesCommand/getGccDependenciesCommand.spec.ts
  packages/graph/src/lib/filterDependenciesOfProject/getIncludeDirectoriesFlag/getIncludeDirectoriesFlag.spec.ts
  packages/util/.eslintrc.json
  packages/util/jest.config.ts
  packages/util/package.json
  packages/util/project.json
  packages/util/src/index.ts
  packages/util/src/lib/isDarwin/isDarwin.spec.ts
  packages/util/src/lib/isDarwin/isDarwin.ts
  packages/util/src/lib/isWindows/isWindows.spec.ts
  packages/util/src/lib/isWindows/isWindows.ts
  packages/util/tsconfig.json
  packages/util/tsconfig.lib.json
  packages/util/tsconfig.spec.json
  packages/utils/.eslintrc.json
  packages/utils/src/lib/commandExists/commandExists.spec.ts
  packages/utils/src/lib/commandExists/commandExists.ts
  packages/utils/src/lib/debugBinaryWithGdb/debugBinaryWithGdb.spec.ts
  packages/utils/src/lib/executeBinary/executeBinary.spec.ts
  packages/utils/src/lib/formatFilesWithClangFormat/formatFilesWithClangFormat.spec.ts
  packages/utils/src/lib/getCmakeCommandArguments/getCmakeCommandArguments.spec.ts
  packages/utils/src/lib/getCmakeCommandArguments/getCmakeCommandArguments.ts
  packages/utils/src/lib/getExecuteBinary/getExecuteBinary.ts
  packages/utils/src/lib/lintFilesWithClangTidy/lintFilesWithClangTidy.spec.ts
  packages/utils/src/lib/readFile/readFile.ts
  packages/utils/src/lib/testBinaryWithCtest/testBinaryWithCtest.spec.ts
  plugins/nx-cmake/.eslintrc.json
  tsconfig.base.json
Due: utils, config, graph

refactor(utils): extract some file utils into actual util lib
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependencies/getGccDependencies.spec.ts
  packages/graph/src/lib/filterDependenciesOfProject/getGccDependencies/getGccDependencies.ts
  packages/graph/src/lib/filterDependenciesOfProject/installTestFramework/installTestFramework.spec.ts
  packages/graph/src/lib/filterDependenciesOfProject/installTestFramework/installTestFramework.ts
  packages/util/.eslintrc.json
  packages/util/package.json
  packages/util/src/index.ts
  packages/util/src/lib/checkCommandExists/checkCommandExists.spec.ts
  packages/util/src/lib/checkCommandExists/checkCommandExists.ts
  packages/util/src/lib/commandExists/commandExists.spec.ts
  packages/util/src/lib/commandExists/commandExists.ts
  packages/util/src/lib/executeCommand/executeCommand.spec.ts
  packages/util/src/lib/executeCommand/executeCommand.ts
  packages/util/src/lib/executeCommandForFiles/executeCommandForFiles.spec.ts
  packages/util/src/lib/executeCommandForFiles/executeCommandForFiles.ts
  packages/util/src/lib/mergeArrays/mergeArrays.ts
  packages/util/src/lib/runCommand/runCommand.spec.ts
  packages/util/src/lib/runCommand/runCommand.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/addTargetDefaults/addTargetDependsOn/addTargetDependsOn.ts
  packages/utils/src/lib/addTargetDefaults/addTargetInputs/addTargetInputs.ts
  packages/utils/src/lib/compileProjectWithCMake/compileProjectWithCMake.spec.ts
  packages/utils/src/lib/compileProjectWithCMake/compileProjectWithCMake.ts
  packages/utils/src/lib/configureProjectWithCMake/configureProjectWithCMake.spec.ts
  packages/utils/src/lib/configureProjectWithCMake/configureProjectWithCMake.ts
  packages/utils/src/lib/debugBinaryWithGdb/debugBinaryWithGdb.spec.ts
  packages/utils/src/lib/debugBinaryWithGdb/debugBinaryWithGdb.ts
  packages/utils/src/lib/executeBinary/executeBinary.spec.ts
  packages/utils/src/lib/executeBinary/executeBinary.ts
  packages/utils/src/lib/formatFilesWithClangFormat/formatFilesWithClangFormat.spec.ts
  packages/utils/src/lib/formatFilesWithClangFormat/formatFilesWithClangFormat.ts
  packages/utils/src/lib/lintFilesWithClangTidy/lintFilesWithClangTidy.spec.ts
  packages/utils/src/lib/lintFilesWithClangTidy/lintFilesWithClangTidy.ts
  packages/utils/src/lib/runCommandFromDirectory/runCommandFromDirectory.ts
  packages/utils/src/lib/testBinaryWithCtest/testBinaryWithCtest.spec.ts
  packages/utils/src/lib/testBinaryWithCtest/testBinaryWithCtest.ts
Due: utils, graph

test(nx-cmake): fixed e2e, not using daemon anymore
  e2e/e2e-nx-cmake/tests/nx-cmake.spec.ts
Due: none

test(mocks): add mock utils which is consumed by other projects
  packages/mocks/src/index.ts
  packages/mocks/src/lib/mockNxOutput/mockNxOutput.spec.ts
  packages/mocks/src/lib/mockNxOutput/mockNxOutput.ts
  packages/mocks/src/lib/setupWorkspace/setupWorkspace.spec.ts
  packages/mocks/src/lib/setupWorkspace/setupWorkspace.ts
  plugins/nx-cmake/.eslintrc.json
  plugins/nx-cmake/src/generators/binary/addBinProject/addBinProject.spec.ts
  plugins/nx-cmake/src/generators/binary/binGenerator.spec.ts
  plugins/nx-cmake/src/generators/binary/generateBinFiles/generateBinFiles.spec.ts
  plugins/nx-cmake/src/generators/binary/resolveBinOptions/resolveBinOptions.spec.ts
  plugins/nx-cmake/src/generators/init/initGenerator.spec.ts
  plugins/nx-cmake/src/generators/library/addLibProjectConfig/addLibProjectConfig.spec.ts
  plugins/nx-cmake/src/generators/library/addLibraryToLibraries/addLibraryToLibraries.spec.ts
  plugins/nx-cmake/src/generators/library/addTestProjectConfig/addTestProjectConfig.spec.ts
  plugins/nx-cmake/src/generators/library/generateLibFiles/generateLibFiles.spec.ts
  plugins/nx-cmake/src/generators/library/generateLibTestFiles/generateLibTestFiles.spec.ts
  plugins/nx-cmake/src/generators/library/libGenerator.spec.ts
  plugins/nx-cmake/src/generators/link/linkGenerator.spec.ts
  plugins/nx-cmake/src/generators/link/resolveLinkOptions/resolveLinkOptions.spec.ts
  plugins/nx-cmake/src/generators/link/updateCmakeConfigInFile/updateCmakeConfigInFile.spec.ts
  plugins/nx-cmake/src/generators/link/updateCmakeFile/updateCmakeFile.spec.ts
  plugins/nx-cmake/src/generators/link/updateIncludeFile/updateIncludeFile.spec.ts
  plugins/nx-cmake/src/generators/preset/presetGenerator.spec.ts
  plugins/nx-cmake/src/utils/addProjectRootToSubDirectories/addProjectRootToSubDirectories.spec.ts
  plugins/nx-cmake/src/utils/resolveOptions/resolveOptions.spec.ts
Due: nx-cmake

test(nx-cmake): replace mock calls to output with mockNxOutput
  packages/log/.eslintrc.json
  packages/log/src/lib/logger/logger.spec.ts
  packages/util/.eslintrc.json
  packages/util/src/lib/runCommand/runCommand.spec.ts
  plugins/nx-cmake/src/generators/init/initGenerator.spec.ts
  plugins/nx-cmake/src/utils/getProjectTypeAndVariant/getLanguageVariant/getLanguageVariant.spec.ts
  plugins/nx-cmake/src/utils/getProjectTypeAndVariant/getProjectTypeFromConfigFileContent/getProjectFileFromConfigFileContent.spec.ts
Due: nx-cmake

refactor(util): move file related to file lib
  packages/file/.eslintrc.json
  packages/file/package.json
  packages/file/src/index.ts
  packages/file/src/lib/readFileWithTree/readFileWithTree.spec.ts
  packages/file/src/lib/readFileWithTree/readFileWithTree.ts
  packages/file/src/lib/updateFile/updateFile.spec.ts
  packages/file/src/lib/updateFile/updateFileFile.ts
  packages/file/src/lib/writeFileWithTree/writeFileWithTree.spec.ts
  packages/file/src/lib/writeFileWithTree/writeFileWithTree.ts
  packages/util/src/index.ts
  plugins/nx-cmake/src/generators/binary/generateBinFiles/generateBinFiles.spec.ts
  plugins/nx-cmake/src/generators/init/generateClangPreset/generateClangPreset.spec.ts
  plugins/nx-cmake/src/generators/init/generateCmakeConfigFiles/generateCmakeConfigFiles.spec.ts
  plugins/nx-cmake/src/generators/init/generateReadMe/generateReadMe.spec.ts
  plugins/nx-cmake/src/generators/init/generateRootConfig/generateRootConfig.spec.ts
  plugins/nx-cmake/src/generators/library/addLibraryToLibraries/addLibraryToLibraries.ts
  plugins/nx-cmake/src/generators/library/generateLibFiles/generateLibFiles.spec.ts
  plugins/nx-cmake/src/generators/library/generateLibTestFiles/generateLibTestFiles.spec.ts
  plugins/nx-cmake/src/generators/link/linkGenerator.spec.ts
  plugins/nx-cmake/src/generators/link/updateCmakeConfigInFile/updateCmakeConfigInFile.ts
  plugins/nx-cmake/src/generators/link/updateCmakeFile/updateCmakeFile.spec.ts
  plugins/nx-cmake/src/generators/link/updateCmakeFile/updateCmakeFile.ts
  plugins/nx-cmake/src/generators/link/updateIncludeFile/updateIncludeFile.spec.ts
  plugins/nx-cmake/src/generators/link/updateIncludeFile/updateIncludeFile.ts
  plugins/nx-cmake/src/utils/addProjectRootToSubDirectories/addProjectRootToSubDirectories.ts
Due: nx-cmake, file

refactor(verdaccio): extract verdaccio config into its own lib
  e2e/e2e-create-nx-cmake/jest.config.ts
  e2e/e2e-nx-cmake/jest.config.ts
  e2e/verdaccio/config.yml
  e2e/verdaccio/project.json
  e2e/verdaccio/src/start-local-registry.ts
  e2e/verdaccio/src/stop-local-registry.ts
  nx.json
  package.json
  packages/command/project.json
  packages/log/project.json
  packages/mocks/project.json
  packages/types/project.json
  packages/util/project.json
Due: none

test(nx-cmake,create-nx-cmake): e2e targets can now run in parallel
  .github/workflows/ci.yml
  e2e/e2e-create-nx-cmake/.env
  e2e/e2e-create-nx-cmake/jest.config.ts
  e2e/e2e-create-nx-cmake/project.json
  e2e/e2e-nx-cmake/.env
  e2e/e2e-nx-cmake/jest.config.ts
  e2e/e2e-nx-cmake/project.json
  e2e/verdaccio/project.json
  e2e/verdaccio/src/lib/localRegistryTarget.ts
  e2e/verdaccio/src/lib/port.ts
  e2e/verdaccio/src/lib/project.ts
  e2e/verdaccio/src/lib/publishPackages.ts
  e2e/verdaccio/src/lib/registry.ts
  e2e/verdaccio/src/lib/setLocalRegistry.ts
  e2e/verdaccio/src/lib/storage.ts
  e2e/verdaccio/src/lib/unsetLocalRegistry.ts
  e2e/verdaccio/src/start-local-registry.ts
  e2e/verdaccio/src/stop-local-registry.ts
  nx.json
  packages/command/package.json
  packages/command/project.json
  packages/file/project.json
  packages/log/package.json
  packages/log/project.json
  packages/mocks/package.json
  packages/mocks/project.json
  packages/types/package.json
  packages/types/project.json
  packages/util/package.json
  packages/util/project.json
  plugins/create-nx-cmake/project.json
  plugins/nx-cmake/project.json
Due: none

ci(): test
  .github/workflows/ci.yml
Due: none

ci(): test e2e
  .github/workflows/ci.yml
  e2e/verdaccio/src/start-local-registry.ts
  e2e/verdaccio/src/stop-local-registry.ts
Due: none

ci(): test e2e
  .github/workflows/ci.yml
Due: none

ci(): test e2e
  .github/workflows/ci.yml
  e2e/verdaccio/src/start-local-registry.ts
Due: none

ci(nx-cmake): test
  e2e/verdaccio/src/start-local-registry.ts
  e2e/verdaccio/src/stop-local-registry.ts
Due: none

ci(): test e2e
  .github/workflows/ci.yml
  e2e/verdaccio/src/publish.mjs
  plugins/create-nx-cmake/project.json
  plugins/nx-cmake/project.json
Due: none

ci(): test e2e
  .verdaccio/config.yml
  .verdaccio/project.json
  .verdaccio/src/lib/localRegistryTarget.ts
  .verdaccio/src/lib/port.ts
  .verdaccio/src/lib/project.ts
  .verdaccio/src/lib/publishPackages.ts
  .verdaccio/src/lib/registry.ts
  .verdaccio/src/lib/setLocalRegistry.ts
  .verdaccio/src/lib/storage.ts
  .verdaccio/src/lib/unsetLocalRegistry.ts
  .verdaccio/src/publish.mjs
  .verdaccio/src/start-local-registry.ts
  .verdaccio/src/stop-local-registry.ts
  plugins/create-nx-cmake/project.json
  plugins/nx-cmake/project.json
Due: none

fix(nx-cmake): one test wasnt cross platform, mocked it
  plugins/nx-cmake/src/graph/filterDependenciesOfProject/filterDependenciesOfProject.spec.ts
Due: nx-cmake

Path conditions:
  nx-cmake: any of: plugins/nx-cmake/src
  create-nx-cmake: any of: plugins/create-nx-cmake/src
  utils: any of: packages/utils/src
  config: any of: packages/config/src
  graph: any of: packages/graph/src
  file: any of: packages/file/src
